

<ion-view view-title="NOVELITY" >
    <ion-content>

        <div class="list card" >
        <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/oil_2765736f.jpg">
                <p>
                    Petroleum Minister Dharmendra Pradhan laid the foundation stone for India’s first “Octomax” unit at the Mathura refinery for the production of high-octane gasoline.

“The unit at Mathura refinery will be the first-of-its-kind in India addressing the emerging scenario in petroleum refining,” Indian Oil Corp said in a statement on Monday.

“Octomax is a novel technology developed in-house by the research and development centre of Indian Oil for production of high-octane gasoline blending stock from the C4 stream to give very high-octane number of the product,” the statement said.

“The refinery will set up a plant of 55 kilo tons per annum (KTA) capacity at an estimated cost of Rs.43 crore and is expected to be completed by October 2017, it added.

“Mathura refinery will play major role in meeting government’s target of introducing BS-VI standards in petrol and diesel by 2020,” Mr. Pradhan said.
                </p>
                <p>
                       <i class="icon    ion-android-bookmark"></i>
                      <a href="#" class="subdued">Bookmarks</a>
                  <i class="icon   ion-android-share-alt"></i>
                    <a href="#" class="subdued">Share</a>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <a href="#" class="subdued">Ratings</a>
                </p>
            </div>
            
             <div class="item item-avatar">
                <img src="img/ionic.png">
                <h2>MATHURA</h2>
                <p>March 7, 2016</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/TH08_Building_home_2765917f.jpg">
                <p>
                   Even as the Aadhaar Bill is to be passed in the Lok Sabha, the government has begun approving new subsidies to be delivered using the biometrics-backed Unique Identification or UID number.‎

Labour Minister Bandaru Dattatreya has approved a scheme to offer higher housing subsidies to 75 lakh beedi workers and miners working in non-coal mines using Aadhaar, senior government officials said. However, the UID Authority of India or UIDAI would find it difficult to capture their fingerprints owing to the nature of their work‎, according to its own biometric authentication standards.

The minister approved the proposal on Thursday, the same day that Finance Minister Arun Jaitley tabled the Aadhaar (Target Delivery of Financial and Other Subsidies, Benefits and Services) Bill, 2016 in Lok Sabha. The Bill, tabled as a Money Bill (not required Rajya Sabha’s approval) is aimed to give legal backing for transferring all government subsidies using Aadhaar.

“The Labour Minister has approved a dynamic and revolutionary scheme in which housing subsidy will be given through Aadhaar so that subsidy reaches the targeted beneficiary,” said a senior ministry official.

Under the Revised Integrated Housing Scheme of 2016, the Labour Ministry will give Rs 1.5 lakh as subsidy through direct benefit transfer, up from Rs 40,000 at present, to beedi and non-mine workers to build a house on their own land. The house will have earthquake-resistance structure, two rooms, kitchen, bathroom and closet area for drying clothes.

The move comes despite the Unique Identification Authority of India (UIDAI) itself suggesting construction and mining workers be put in list of exceptions to whom the Aadhaar system may not apply.

In a detailed document titled ‘Aadhaar Authentication Framework’, the UIDAI had said that people doing hard manual labour such as construction workers or mining workers may be treated as “exceptions” in the Aadhaar system as they have “all of their fingers in extremely poor condition with respect to fingerprint quality.”

“There will always be a set of population who will be temporarily or permanently excluded from a specific biometric system. We can term this set of people as ‘outliers’,” the UIDAI said, adding that in such cases, alternate biometrics could be used such as the use of iris scan.

“Direct transfer mechanism has a lot of benefits. It is true that the government may find it difficult to implement it in the initial stages but it is the appropriate long-term solution to target the beneficiaries accurately,” said Alakh N Sharma, Professor and Director at Delhi-based Institute for Human Development.
                </p>
                <p>
                     <i class="icon    ion-android-bookmark"></i>
                      <a href="#" class="subdued">Bookmarks</a>
                     <i class="icon   ion-android-share-alt"></i>
                    <a href="#" class="subdued">Share</a>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <i class="icon  ion-android-star-outline"></i>
                    <a href="#" class="subdued">Ratings</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>