<ion-view view-title="NOVELITY">
        <ion-content>
                    <ion-list>
       <ion-item href="#/app/playlists/1">
                   <div class="list">
                <a class="item item-thumbnail-left" href="#">
               <img src="img/iran.jpg">
                <h2>Pretty Hate Machine</h2>
                </a>
                </div>
            </ion-item>
<!--
            <ion-item href="#/app/playlists/1">
                <div class="list">
                <a class="item item-thumbnail-left" href="#">
               <img src="img/background.jpg">
                <h2>Pretty Hate Machine</h2>
                </a>
                </div>
            </ion-item>
-->
<!--
            <ion-item href="#/app/playlists/1">
                   <div class="list">
                <a class="item item-thumbnail-left" href="#">
               <img src="img/profile.jpg">
                <h2>Pretty Hate Machine</h2>
                </a>
                </div>
            </ion-item>
-->
            <ion-item href="#/app/playlists/1">
                  <div class="list">
                <a class="item item-thumbnail-left" href="#">
               <img src="img/kangana.jpg">
                <h2>Pretty Hate Machine</h2>
                </a>
                </div>
            </ion-item>
            <ion-item href="#/app/playlists/1">
              <div class="list">
                <a class="item item-thumbnail-left" href="#">
               <img src="img/Smart-City.jpeg">
                <h2>Pretty Hate Machine</h2>
                </a>
                </div>
                        </ion-item>
                </ion-list></ion-content></ion-view>

     
<!--
            <ion-item href="#/app/playlists/buisness">
                Buisness
            </ion-item>
            <ion-item href="#/app/playlists/1">
                Technology
            </ion-item>
            <ion-item href="#/app/playlists/1">
              Sports
            </ion-item>
            <ion-item href="#/app/playlists/1">
               Education
            </ion-item>
            <ion-item href="#/app/playlists/1">
               Vieo
            </ion-item>
         <ion-item href="#/app/playlists/1">
              Travel
            </ion-item>

          </ion-list>
    </ion-content>
</ion-view>