<ion-view view-title="NOVELITY">
        <ion-content>
                    <ion-list>
       <ion-item href="#">
                       <div class="video-container">
    <object width="560" height="315">
      <param name="movie" value="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0"/>
      <param name="allowFullScreen" value="true"/>
      <param name="allowscriptaccess" value="always"/>
      <embed src="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0" type="application/x-shockwave-flash"
             width="300" height="200" allowscriptaccess="always" allowfullscreen="true"/>
                      </object>
                </div>
            </ion-item>

            <ion-item href="#">
                          <div class="video-container">
    <object width="560" height="315">
      <param name="movie" value="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0"/>
      <param name="allowFullScreen" value="true"/>
      <param name="allowscriptaccess" value="always"/>
      <embed src="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0" type="application/x-shockwave-flash"
             width="300" height="200" allowscriptaccess="always" allowfullscreen="true"/>
                      </object>
                </div>
            </ion-item>
            <ion-item href="#">
                  <div class="video-container">
    <object width="560" height="315">
      <param name="movie" value="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0"/>
      <param name="allowFullScreen" value="true"/>
      <param name="allowscriptaccess" value="always"/>
      <embed src="//www.youtube.com/v/WzhW20hLp6M?hl=uk_UA&amp;version=3&amp;rel=0" type="application/x-shockwave-flash"
             width="300" height="200" allowscriptaccess="always" allowfullscreen="true"/>
                      </object>
                </div>
                        </ion-item>
                </ion-list></ion-content></ion-view>

     
