/* Empty. Add your own CSS if you like */

.article {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 250%;
}

.categoryheadline {
    font-size: large;
    /* text-align: center; */
    /* margin-top: 12%; */
    
    color: white !important;
    background-color: rgba(66, 25, 197, 0.27);
    border: none;
    border-radius: 4px;
}

.categoryimagediv {
    position: absolute;
    width: 47%;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.37);
}

.categoryrow {
    height: 135px;
    margin-bottom: 5%;
}